<!DOCTYPE html>
<html>
    <head>
        <title>Vue 3 Basics</title>
        <style>
            .box {
                background-color: purple;
                height: 200px;
                width: 200px;
            }
            .box.two {
                background-color: red;
            }
            .box.three {
                background-color: blue;
            }
            [v-cloak]{          /*"v-cloak" for prevent show all boxes*/
                display: none;
            }
        </style>
    </head>
    <body> <!-- Vue.js directives-->
        <div id="app" v-cloak>      <!-- call app in js--> <!-- "v-cloak" for prevent rendering all boxes while refeshing-->
            {{ greeting }} <!-- inside the two curly braces will be parsed as JS by vue-->
            <input v-model="greeting" /> <!-- could changing the greeting value in JS with input-->

            <hr />     <!-- divide page with a horizontal role-->

            <div v-if="isVisible" class="box"></div>  <!-- if statement in Vue.js for value "isVisible" to render--> 
            <!-- <div v-show="isVisible" class="box"></div>--> <!-- "v-show", boolean, same as "v-if", but can be still rendered, but the style is "none" -->

            <div v-else-if="isVisible2" class="box two"></div>
            <div v-else class="box three"></div>



        </div>

        <script src="https://unpkg.com/vue@next"></script>  <!-- import vue3 and use it-->
        <script>
            let app = Vue.createApp({
                data: function(){
                    return {
                        greeting: 'Hello Vue 3!',
                        isVisible: false,     // for if statement of show the box
                        isVisible2: false
                    }
                }
            })
            app.mount('#app')   // connect vue to div
        </script>
    </body>
</html>
